<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				First Name:<h:inputText value="#{user.firstName}"/>
				Last Name: <h:inputText value="#{user.lastName}"/>
				<h:commandButton action="#{loginController.onSubmit()}" value="Submit" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>